TZ=America/Sao_Paulo

APP_KEY=
APP_URL=http://localhost
ASSET_URL=http://127.0.0.1:8000
APP_ENV=local

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=cawe
DB_PASSWORD=secret

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_PORT=1025
MAIL_DASHBOARD_PORT=8025
APP_DEBUG=true
